@model IEnumerable<MICRO.WMS.WEB.Models.USERINFOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a href="~/Home/Index">主页</a>
        <span class="lay-separator">/</span>
        <a>
            <cite>用户管理</cite>
        </a>
        <span class="lay-separator">/</span>
        <a>
            <cite>用户信息</cite>
        </a>
    </div>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>查询</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-inline">
                <input type="text" name="code" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户编号</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户角色</label>
            <div class="layui-input-inline">
                <input type="text" name="role" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">XXXXX</label>
            <div class="layui-input-inline">
                <input type="text" name="xxx" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</form>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>用户信息</legend>
</fieldset>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/USERINFOR/GetData'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ID', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
                , { field: 'USERNAME', title: '用户名', width: 120, edit: 'text' }
                , { field: 'USERCODE', title: '用户编号', width: 150, edit: 'text' }
                , { field: 'USERROLE', title: '用户角色', width: 100, edit: 'text', sort: true }
                , { field: 'USERNAME', title: '用户名', width: 120, edit: 'text' }
                , { field: 'USERCODE', title: '用户编号', width: 150, edit: 'text' }
                , { field: 'USERROLE', title: '用户角色', width: 100, edit: 'text', sort: true }
                , { field: 'USERROLE', title: '用户角色', width: 100, edit: 'text', sort: true }
                , { field: 'USERROLE', title: '用户角色', width: 100, edit: 'text', sort: true }
                , { field: 'USERNAME', title: '用户名', width: 120, edit: 'text' }
                , { field: 'USERCODE', title: '用户编号', width: 150, edit: 'text' }
                , { field: 'USERROLE', title: '用户角色', width: 100, edit: 'text', sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.email
                }, function (value, index) {
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>

